= render './short_urls/partials/errors', url: @url
.container
  = form_for @url do |f|
    = f.text_field :original_url, placeholder: 'Please type in your link', class: 'form-control'
    = f.submit 'Submit', class: 'btn btn-primary mt-2'
