<div class='container'>
  <table class='table'>
    <tbody>
      <tr>
        <th scope='row'>Original link</th>
        <th><%= @url.original_url %></th>
      </tr>
      <tr>
        <th scope='row'>Shortened link</th>
        <th><%= @url.shortened_url %></th>
      </tr>
    </tbody>
  </table>
  <%= link_to "Try this link", redirect_with_short_path(short_url: @url.shortened_url), role: 'button', class: 'btn btn-warning' %>
</div>
