<% if url.errors.any? %>
  <div class='container alert alert-danger'>
    <ul>
      <% url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
